<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
    <div class="container">
        <nav class="sidebar">
            <ul>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('dashboard') }}">Home</a></li>
                    <li><a href="{{ url_for('todo') }}">My To-Do</a></li>
                    <li><a href="{{ url_for('notes') }}">My Notes</a></li>
                    <li><a href="{{ url_for('reminders') }}">Reminders</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </nav>
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

